html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bgImg::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(./Images/bakgrunn.jfif);
  position: fixed;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  margin: -10px;
  z-index: -1;
}

.navBtn {
  display: inline;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navBtn:hover {
  background-color: rgb(33, 33, 33);
}

.activeStyle {
  display: inline;
  font-size: 2.5rem;
  color: white;
  text-decoration: underline;
}

.activeStyle:hover {
  background-color: rgb(33, 33, 33);
}

@media (max-width: 765px) {
  .navBtn {
    margin-left: 20%;
  }
  .activeStyle {
    margin-left: 20%;
    width: 55%;
  }
}
