body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.bgImg::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.623)),
    url(./Images/background.png);
  position: fixed;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  margin: -10px;
  z-index: -1;
}

.navBtn {
  display: inline;
  font-size: 48px;
  margin-right: 2rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navBtn:hover {
  background-color: rgb(33, 33, 33);
}

.activeStyle {
  display: inline;
  font-size: 48px;
  margin-right: 2rem;
  color: white;
  text-decoration: underline;
}

.activeStyle:hover {
  background-color: rgb(33, 33, 33);
}
